Package: btrfs-tools
Version: 1.0-xbian
Architecture: armhf
Maintainer: Luk Claes <luk@debian.org>
Depends: e2fslibs (>= 1.42), libc6 (>= 2.13-28), libcomerr2 (>= 1.01), libgcc1 (>= 1:4.4.0), libuuid1 (>= 2.16), zlib1g (>= 1:1.2.0), liblzo2-2
Section: admin
Priority: optional
Homepage: http://btrfs.wiki.kernel.org/
Description: Checksumming Copy on Write Filesystem utilities
 Btrfs is a new copy on write filesystem for Linux aimed at implementing
 advanced features while focusing on fault tolerance, repair and easy
 administration.
 .
 This package contains utilities (mkfs, fsck, btrfsctl) used to work with btrfs
 and an utility (btrfs-convert) to make a btrfs filesystem from an ext3.
 .
 git commit 194aa4a1bd6447bb545286d0bcb0b0be8204d79f from Fri Jul 5 13:44:07 2013 -0400
